<div *ngIf="booking; else loadingOrError" class="card">
  <h2>Booking Details</h2>

  <p><strong>Booking ID:</strong> {{booking.id}}</p>
  <p><strong>Home:</strong> {{booking.homeName || booking.homeId}}</p>
  <p><strong>Check-in:</strong> {{booking.checkInDate}}</p>
  <p><strong>Check-out:</strong> {{booking.checkOutDate}}</p>
  <p><strong>Total Price:</strong> ${{booking.totalPrice}}</p>

  <p *ngIf="booking.sharedEmails?.length">
  <strong>Shared Emails:</strong> {{booking.sharedEmails?.join(', ')}}
</p>



  <button (click)="goToShare()">Share Booking</button>
</div>

<ng-template #loadingOrError>
  <p *ngIf="loading">Loading...</p>
  <p *ngIf="error" class="error">{{error}}</p>
</ng-template>
